Archivos de dependencias y logs (ignorar siempre)

/node_modules
/docs_irma/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Archivos temporales y de caché de Docusaurus (ignorar siempre)

/docs_irma/.docusaurus
/docs_irma/.build # En caso de que se genere
Archivos de entorno y sistema operativo (ignorar siempre)

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
NOTA: La carpeta /docs_irma/build se omite intencionadamente de este archivo
para que pueda ser incluida en el repositorio para el deploy simplificado.